#### tuple
- 暫時儲存資料
- 可儲存多個值
- 不可以修改新增刪除元素
- 序列，串列資料(for in操作)

In [5]:
#建立tuple
tu1 = (1, 3, 5, 7, 9)
print(tu1[0])
print(tu1[1])
print(tu1[2])
print(tu1[3])
print(tu1[4])

1
3
5
7
9

In [6]:
for value in tu1:
    print(value)

1
3
5
7
9

In [7]:
for letter in 'hello!world':
    print(letter)

h
e
l
l
o
!
w
o
r
l
d

In [8]:
type(tu1)

tuple

#### list
- 可儲存多個值
- 可以修改新增刪除元素
- 序列，串列資料(for in操作)

In [9]:
#建立list
lil = [2,4,6,8,10]
lil[0]

2

In [10]:
for ee in lil:
    print(ee)

2
4
6
8
10

In [11]:
type(lil)

list

In [14]:
li2=list()
li2.append('a')
li2.append('300')
li2.append('python')
li2.append('56.0')
li2

['a', '300', 'python', '56.0']

#### dictionary
-  mapping(key,value)
- key不可以重複

In [22]:
codes = {'tw':'taiwan',
         'jp':'japan'}
codes

{'tw': 'taiwan', 'jp': 'japan'}

In [23]:
#取出值
print(codes['tw'])
print(codes['jp'])

taiwan
japan

In [25]:
#新增元素
codes['hk'] = 'hong kong'
codes

{'tw': 'taiwan', 'jp': 'japan', 'hk': 'hong kong'}

In [26]:
#建立空的dict
dict1 =[]
dict1

[]

In [29]:
for key in codes:
    print(codes[key])

taiwan
japan
hong kong

In [30]:
#tuple拆解法
(n, m) = (10, 20)
n
m

20